doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Genre Quizz
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel="stylesheet", href="/css/main.css")
    body
        form.mainContainer(action="")
            .start#start(style="display:")
                 h1.finalText.mb-3.font-weight-normal Genre quizz
                 h3.finalText.mb-3.font-weight-normal Trouve le bon genre pour chacun des prénoms.
                 input.btn.btn-lg.btn-primary.btn-block#startBtn(type="button", value="Jouer")
            .play#play(style="display:none")
                .points.col-sm-12
                    h4.mb-3.font-weight-normal#pts
                .name.col-sm-12
                    h1.mb-3.font-weight-normal#name 
                .buttons.col-sm-12
                    input.btn.btn-md.btn-primary.btn-block#male(type="button", value="Masculin")
                    input.btn.btn-md.btn-primary.btn-block#female(type="button", value="Feminin")
            .menu#menu(style="display:none")
                 h3.finalText.mb-3.font-weight-normal#finalText ?
                 input.btn.btn-lg.btn-primary.btn-block#replay(type="button", value="Rejouer")

        script(src='/js/main.js')
        script(src='https://code.jquery.com/jquery-3.6.0.min.js', integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')

